.articleList {
    list-style: none;
}

.articleListItem {
    padding: 1rem 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

.articleListContainer {
    padding-right: 1rem;
    border-right: 1px solid #000;
    max-height: 100vh;
    overflow: scroll;
}

.activeListItem {
    background-color: var(--black-text);
    color: #fff;
}

@media screen and (max-width: 768px) {
    .articleListContainer {
        max-height: fit-content;
        overflow: unset;
    }
}